.toggle-container {
    transition: all 0.5s ease;
    position: absolute;
    overflow: hidden;
    z-index: 5;
}

.toggle {
    transition: all 0.5s ease;
    position: relative;
    background-color: var(--primary);
    color: var(--secondary);
}

.toggle-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.toggle-section button {
    transition: all 0.2s ease;
    padding: 6px 12px;
    border: 1px solid var(--secondary);
    background: none;
    color: var(--secondary);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-section button:hover {
    background-color: var(--secondary);
    color: white;
}

@media (min-width: 650px) {
    .toggle-section {
        width: 50%;
        height: 100%;
    }
    .toggle-right {
        right: 0;
        transform: translateX(0);
    }
    .toggle {
        width: 200%;
        height: 100%;
        left: -100%;
    }

    #access-toggle {
        width: 50%;
        height: 100%;
    }

    .toggle-container {
        width: 50%;
        height: 100%;
        left: 50%;
    }
}

@media (max-width: 650px) {
    .toggle-container {
        width: 100%;
        height: 50%;
        bottom: 0;
        transform: translateY(50%);
    }

    .toggle-section {
        width: 100%;
        height: 25%;
    }
    .toggle-right {
        bottom: 0;
        transform: translateY(0);
    }

    .toggle {
        width: 100%;
        height: 200%;
        top: -150%;
    }
}
