.register-socials {
    display: flex;
    gap: 10px;
    position: relative;
    padding-bottom: 15px;
}

.register-socials::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 1px;
    background-color: rgba(from var(--primary) r g b / 0.3);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.social {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
