.mine {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary);
    cursor: pointer;
    opacity: 0;
    animation-name: cellStartAnim;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes cellStartAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
