@keyframes cellStartAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.mine {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary);
    cursor: pointer;
    opacity: 0;
    animation-name: cellStartAnim;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    transition: all 0.2s ease;
}

.mine:hover {
    border-color: var(--primary);
    color: var(--primary);
}

.icon,
.revealed {
    font-size: 200%;
}

.mine:has(.empty) {
    color: var(--primary);
    background-color: var(--secondary);
}

.mine:has(.empty):hover {
    border: 1px solid var(--secondary);
}

.mine:has(.bomb) {
    color: rgb(225, 141, 141);
    background-color: indianred;
    border: 1px solid indianred;
}

.mine:has(.revealed) {
    background-color: transparent;
    opacity: 0.5;
    animation: none;
}
