#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 400px;
    gap: 20px;
    z-index: 1;
}

.home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: var(--primary);
    font-size: 20px;
    position: relative;
    background-color: var(--bg-color);
    border: 1px solid var(--primary);
}

#home .access {
    grid-column: 1 / 3;
    flex-direction: column;
    gap: 15px;
    border-radius: 0px 0px 20px 20px;
}

#home .bingo {
    border-top-left-radius: 20px;
    z-index: 1;
    overflow: hidden;
    color: var(--secondary);
}

#home .bingo::after {
    transition: all 0.2s ease;
    content: "";
    background-image: url("../../../assets/bingo.avif");
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

#home .bingo:hover {
    color: transparent;
}

#home .bingo:hover::after {
    background-color: rgba(0, 0, 0, 0);
    width: 110%;
    height: 110%;
}

#home .bombs {
    border-top-right-radius: 20px;
}

.register-button {
    transition: all 0.2s ease;
    background-color: transparent;
    text-decoration: none;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    padding: 6px 12px;
    border-radius: 5px;
}

.register-button:hover {
    background-color: var(--secondary);
    color: white;
}
