#settings {
    width: 100%;
    height: fit-content;
    display: flex;
    border: 1px solid var(--secondary);
    color: var(--primary);
    flex-direction: column;
    max-width: 300px;
    max-height: 500px;
    border-radius: 5px;
    padding: 25px;
}

.settings-theme {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
