#settings {
    width: 100%;
    height: fit-content;
    display: flex;
    border: 1px solid var(--secondary);
    color: var(--primary);
    flex-direction: column;
    max-width: 300px;
    max-height: 500px;
    border-radius: 5px;
    padding: 25px;
}

#settings button {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: all 0.2s ease;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    &:hover {
        color: black;
        background-color: var(--primary);
    }

    &.active {
        color: black;
        background-color: var(--primary);
    }
}

.settings-theme {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.settings-bingo-timer {
    display: flex;
    flex-direction: column;
}

.settings-saved {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

#bingo-setting {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#bingoInput {
    max-width: 100px;
    padding: 10px;
    text-align: center;
    margin: auto;
    background-color: transparent;
    color: var(--primary);
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid var(--secondary);
}

#bingoInput:focus {
    outline: 1px solid var(--secondary);
}

.save-bingo-timer {
    max-width: 100px;
    margin: auto;
    padding: 4px 12px;
}

#bingo-setting.error #bingoInput {
    border: 1px solid red;

    &:focus {
        outline: 1px solid red;
    }
}

.input-error {
    color: red;
    display: none;
}

.input-error.active {
    display: inline;
}
