.bingo-history-number {
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    aspect-ratio: 1;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.bingo-history-number.seen {
    border-color: var(--secondary);
    color: var(--secondary);
    border-width: 2px;
}
