body {
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: var(--header-height);
}

#app {
    --bg-color: white;
    --text-color: black;
    --header-height: 70px;
}

#app.dark {
    --bg-color: black;
    --text-color: white;
}
