body {
    height: 100vh;
}

#app {
    --bg-color: rgb(255, 255, 255);
    --text-color: black;
    --primary: #055e14;
    --secondary: #38d380;
    --header-height: 70px;
    height: 100svh;
}

#app.dark {
    --bg-color: rgb(10, 10, 10);
    --text-color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: -1;
    padding-top: calc(var(--header-height) + 25px);
    background-color: var(--bg-color);
}
