.mine-panel {
    border-radius: 5px;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.mine-panel:not(.playing) {
    border: 2px solid var(--secondary);
}

.current-mine-game {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    aspect-ratio: 1;
}

.mine-empty-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

@media (max-width: 600px) {
    .mine-panel {
        justify-self: center;
        aspect-ratio: 1 / 1;
        width: 100%;
        max-height: fit-content;
    }
    .mine-panel:not(.playing) {
        grid-row: 1 / 2;
    }

    .current-mine-game {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}
