#access {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
    position: relative;
}

.form-submit-button {
    transition: all 0.2s ease;
    padding: 8px 12px;
    border: 5px solid var(--secondary);
    background-color: var(--secondary);
    color: white;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: var(--primary);
        border-color: var(--primary);
        color: black;
    }
}

.register-text,
.login-text {
    font-size: 20px;
}

#access form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#access form input {
    border: 1px solid var(--primary);
    padding: 4px 8px;
    color: var(--primary);
    font-size: 16px;
    border-radius: 3px;
    background-color: transparent;
}

#access form input:focus {
    outline: 1px solid var(--primary);
}

#access form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--primary);
}

.register-socials {
    display: flex;
    gap: 10px;
}

.social {
    width: 35px;
    height: 35px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--primary);
        color: black;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        z-index: -1;
        opacity: 0;
    }
}

#access.active #login {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 300ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}

#access.active #register {
    animation-name: fadeOut;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

#access:not(.active) #register {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 300ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}

#access:not(.active) #login {
    animation-name: fadeOut;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

#access:not(.active) #login {
    animation-name: fadeOut;
    animation-duration: 300ms;
}

#access.start #login {
    animation: none;
    opacity: 0;
}

#access.start #register {
    opacity: 1;
    animation: none;
}

@media (min-width: 650px) {
    #access {
        width: 750px;
        height: 500px;
    }

    #access.active #login {
        transform: translateX(100%);
    }

    #access.active #register {
        transform: translateX(100%);
    }

    #access.active .toggle-container {
        transform: translateX(-100%);
    }

    #access.active .toggle {
        transform: translateX(50%);
    }
}

@media (max-width: 650px) {
    #access {
        width: 300px;
        height: 550px;
    }

    #access.active #login {
        transform: translateY(33%);
    }

    #access.active #register {
        transform: translateY(33%);
    }

    #access.active .toggle-container {
        transform: translateY(-150%);
    }

    #access.active .toggle {
        transform: translateY(100%);
    }
}
